li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-family: 'Comfortaa', cursive;
}

h1 {
  text-align: center;
  color:#e02929;
  font-family: 'Hanalei Fill', cursive;
  font-size: xxx-large;
}
h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size:xx-large;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


body {
  background-color: #f1c387;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}